<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.softrangers.sonarcloudmobile"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:name=".utils.SonarCloudApp"
        android:icon="@mipmap/ic_login_cloud_img"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="screenLayout|screenSize|orientation|keyboard|fontScale"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".utils.ui.BaseActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".utils.api.DataSocketService"
            android:exported="false"/>

        <service android:name=".utils.api.AuthService"
                 android:exported="false"/>

        <!-- Notifies when the socket is connected -->
        <receiver
            android:name=".utils.api.ConnectionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="com.softrangers.sonarcloudmobile.CONNECTION_FAILED"/>
                <action android:name="com.softrangers.sonarcloudmobile.CONNECTED"/>
                <action android:name="com.softrangers.sonarcloudmobile.CONNECTION_TIME_OUT"/>
                <action android:name="com.softrangers.sonarcloudmobile.CONNECTION_LOST"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".utils.api.ConnectionKeeper"
                  android:enabled="true"
                  android:exported="false">
            <intent-filter>
                <action android:name="ACTION_KEEP_CONNECTION"/>
                <action android:name="noop"/>
            </intent-filter>
        </receiver>

        <activity android:name=".ui.AddGroupActivity">
        </activity>
        <activity android:name=".ui.SelectPASystemActivity">
        </activity>
        <activity android:name=".ui.ScheduleActivity">
        </activity>
        <activity android:name=".ui.LockAppActivity">
        </activity>
    </application>

</manifest>